<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h2> 회원가입 </h2>
        <form name="signup" action="/dosignup/" method="post">{% csrf_token %}
            Name : <input type="text" name="first_name" > </br>
            ID : <input type="text" name="username" > </br>
            PW : <input type="password" name="password" > </br>
            Email : <input type="email" name="email" > </br>
            OwnerCheck : <input type="checkbox" name="is_owner" value=1> </br>
            <input type="submit" value="확인">
        </form>
    </body>
</html>